---
import BaseLayout from "../layouts/BaseLayout.astro";
import LoginForm from "../components/LoginForm.vue";
import "../styles/Button.css";
import "../styles/SubmitButton.css";
import "../styles/InputError.css";
import "../styles/ErrorMessage.css";
---

<BaseLayout title="Swag Labs">
  <div class="login_container">
    <div class="login_logo">Swag Labs</div>
    <div class="login_wrapper">
      <div class="login_wrapper_inner">
        <div id="login_button_container" class="form_column">
          <div class="login_box">
            <LoginForm client:load />
          </div>
        </div>
      </div>

      <div class="login_credentials_wrap">
        <div class="login_credentials_wrap_inner">
          <div id="login_credentials" class="login_credentials">
            <h4>Accepted usernames are:</h4>
            standard_user<br />
            locked_out_user<br />
            problem_user<br />performance_glitch_user<br />
            error_user<br />
            visual_user<br />
          </div>

          <div class="login_password">
            <h4>Password for all users:</h4>secret_sauce
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .btn,
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .login_container {
    background-color: #eefcf6;
    min-height: 100vh;
  }

  .login_wrapper {
    margin: 0 auto;
  }

  .login_logo {
    font-family: "DM Mono", "sans-serif";
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    padding: 30px 0;
  }

  .form_column {
    float: none;
    width: 100%;
  }

  .login_wrapper_inner {
    background-color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
  }

  .login_credentials_wrap {
    color: #fff;
    font-family: "DM Mono", "sans-serif";
  }

  .login_credentials_wrap_inner {
    background-color: #132322;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .login_credentials_wrap_inner,
  .login_wrapper_inner {
    width: 70%;
    max-width: 780px;
    padding: 15px 30px 30px;
    margin: 0 auto;
    border: 1px solid #ededed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .login_credentials {
    clear: both;
    line-height: 24px;
  }

  @media only screen and (min-width: 900px) {
    .form_column {
      max-width: 292px;
      padding-top: 30px;
      margin: 0 auto;
    }
  }
</style>
